<section class="navbar" *ngIf="navHidden">
  <div class="navbar-logo inl-mid">
    <img class="logo" src="../assets/image/logo-grey.svg" />
  </div>
  <div class="navbar-options txt-r inl-mid">
    <p class="inl inl-mid">Dasboard</p>
    <p class="inl inl-mid active-menu">Personas</p>
    <p class="inl inl-mid">Transacciones</p>
    <p class="inl inl-mid">Suscripciones</p>
    <img class="inl inl-mid" src="../assets/icons/search.svg" />
    <div class="line inl inl-mid"></div>
    <img class="inl inl-mid" src="../assets/icons/more-users.svg" />
    <div class="line inl inl-mid"></div>
    <div class="user back-img inl inl-mid"></div>
  </div>
</section>
