<!-- <app-navbar></app-navbar> -->
<section>
  <div class="people-interior-blue inl txt-c">
    <div class="interior-user-photo">
      <img src="../assets/image/user-02.svg" />
    </div>
    <h2>Nora</h2>
    <p class="subtitle">Contacto</p>
    <p class="interior-description">itwasjustadream@gmail.com</p>
    <p class="interior-description">+ 55 5567878709</p>
    <p class="subtitle">Fecha de nacimiento</p>
    <p class="interior-description">23/03/1998</p>
    <p class="subtitle">Proximo pago</p>
    <p class="interior-description">23/03/1998</p>
    <button class="button-outline-white">Active</button>
    <div class="resources-menu-cont txt-c">
      <div class="resources-menu-inactive txt-l">
        <img class="inl inl-mid" src="../assets/icons/overview.svg" />
        <p class="inl inl-mid">Overview</p>
      </div>
      <div class="resources-menu-inactive txt-l">
        <img class="inl inl-mid" src="../assets/icons/i.svg" />
        <p class="inl inl-mid">Información</p>
      </div>
      <div class="resources-menu-inactive txt-l">
        <img class="inl inl-mid" src="../assets/icons/transaction.svg" />
        <p class="inl inl-mid">Transsacionnes</p>
      </div>
      <div class="resources-menu-inactive txt-l">
        <img class="inl inl-mid" src="../assets/icons/suscription.svg" />
        <p class="inl inl-mid">Suscripción</p>
      </div>
      <div class="resources-menu-inactive txt-l">
        <img class="inl inl-mid" src="../assets/icons/payment.svg" />
        <p class="inl inl-mid">Tarjetas</p>
      </div>
      <div class="resources-menu-inactive txt-l">
        <img class="inl inl-mid" src="../assets/icons/chat.svg" />
        <p class="inl inl-mid">Interacciones</p>
      </div>
    </div>
    <img class="inl-bot" src="../assets/image/recaudia.svg" />
  </div>
  <div class="interior-right inl inl-top">
    <div class="interior-back">
      <img class="inl inl-mid" src="../assets/icons/return.svg" />
      <p class="inl inl-mid">Regresar</p>
      <p class="inl inl-mid">Persona > Nora de la Franccesca > Información</p>
    </div>
    <div class="interior-details-user">
      <div class="interior-details-user-info cont-mid">
        <div class="inl inl-mid txt-c">
          <img
            class="interior-details-user-img"
            src="../assets/image/user-02.svg"
          />
        </div>
        <div class="inl inl-mid">
          <h1 class="interior-details-title inl inl-mid">
            Información personal
          </h1>
          <div class="inl inl-mid float-r">
            <div class="interior-details-user-settings txt-c">
              <img src="../assets/icons/settings.svg" />
            </div>
          </div>
          <p class="interior-details-description">Nombre: Nora</p>
          <p class="interior-details-description">
            Segundo nombre: de la Franccesca
          </p>
          <p class="interior-details-description">
            Apellidos: Vargas Espinosa de los Monteros
          </p>
          <p class="interior-details-description">Correo:</p>
          <p class="interior-details-description">Teléfono:</p>
          <p class="interior-details-description">Género:</p>
          <p class="interior-details-description">Fecha de nacimiento:</p>
        </div>
      </div>
      <div class="interior-details-adress inl inl-mid">
        <h1 class="interior-details-title">Dirección</h1>
        <div>
          <p class="interior-details-description inl inl-mid">Tipo</p>
          <select class="input inl inl-mid" name="cities" id="city">
            <option value="mexico">México</option>
            <option value="mexico">México</option>
            <option value="mexico">México</option>
            <option value="mexico">México</option>
          </select>
        </div>
        <p class="interior-details-description">Calle y número</p>
        <p class="interior-details-description">Código postal</p>
        <p class="interior-details-description">Delegación</p>
        <p class="interior-details-description">Ciudad</p>
        <p class="interior-details-description">Estado</p>
        <p class="interior-details-description">Pais</p>
        <p class="interior-details-description inl inl-mid">Comentario</p>
        <button class="button-fill-blue inl inl-mid float-r">
          Agregar dirección
        </button>
      </div>
      <div class="interior-details-adress-saved inl inl-mid float-r">
        <h1 class="interior-details-title">Direcciones guardadas</h1>
        <div class="interior-details-adress-saved-cont cont-mid">
          <div class="inl-mid">
            <p>Casa</p>
            <p>Tonala 10</p>
            <p>Código posstal</p>
            <p>Comentario</p>
          </div>
          <div class="inl-mid txt-r">
            <img src="../assets/icons/trash.svg" />
            <img src="../assets/icons/trash.svg" />
          </div>
        </div>
        <div class="interior-details-adress-saved-cont cont-mid">
          <div class="inl-mid">
            <p>Casa</p>
            <p>Tonala 10</p>
            <p>Código posstal</p>
            <p>Comentario</p>
          </div>
          <div class="inl-mid txt-r">
            <img src="../assets/icons/trash.svg" />
            <img src="../assets/icons/trash.svg" />
          </div>
        </div>
        <div class="interior-details-adress-saved-cont cont-mid">
          <div class="inl-mid">
            <p>Casa</p>
            <p>Tonala 10</p>
            <p>Código posstal</p>
            <p>Comentario</p>
          </div>
          <div class="inl-mid txt-r">
            <img src="../assets/icons/trash.svg" />
            <img src="../assets/icons/trash.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
